In [1]:
from pyspark.sql import SparkSession
from minio import Minio

spark = SparkSession.builder.appName("nyc-taxi-parquet").getOrCreate()

# Spark uses Hadoop configs internally to connect to storage systems like S3 / MinIO
hadoop_conf = spark._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3a.endpoint", "http://minio:9000")
hadoop_conf.set("fs.s3a.access.key", "minioadmin")
hadoop_conf.set("fs.s3a.secret.key", "minioadmin123")
hadoop_conf.set("fs.s3a.path.style.access", "true")        # Required for MinIO because it uses path-style URLs instead of virtual-hosted style
                                                           # Example path-style: http://minio:9000/bucket-name/object
hadoop_conf.set("fs.s3a.connection.ssl.enabled", "false")  # MinIO is running on HTTP locally (not HTTPS)

In [2]:
# ---------- Connect to MinIO ----------

minio_client = Minio(
    "minio:9000",
    access_key="minioadmin",
    secret_key="minioadmin123",
    secure=False
)

bucket_name = "nyc-taxi"

# Print all objects present inside the bucket
# This helps verify whether parquet files exist and are accessible
print("\n" + "="*60)
print(f"Objects inside '{bucket_name}':")
for obj in minio_client.list_objects(bucket_name, recursive=True):
    print(f" - {obj.object_name} ({obj.size} bytes)")
print("="*60)
print("NYC Taxi Parquet Upload Complete")
print("="*60)

============================================================
Objects inside 'nyc-taxi':
 - 2023/yellow_tripdata_2023-01.parquet (47673370 bytes)
 - 2023/yellow_tripdata_2023-02.parquet (47748012 bytes)
 - 2023/yellow_tripdata_2023-03.parquet (56127762 bytes)
 - 2023/yellow_tripdata_2023-04.parquet (54222699 bytes)
 - 2023/yellow_tripdata_2023-05.parquet (58654627 bytes)
 - 2023/yellow_tripdata_2023-06.parquet (54999465 bytes)
 - 2023/yellow_tripdata_2023-07.parquet (48361828 bytes)
 - 2023/yellow_tripdata_2023-08.parquet (48152353 bytes)
 - 2023/yellow_tripdata_2023-09.parquet (47895515 bytes)
 - 2023/yellow_tripdata_2023-10.parquet (59009059 bytes)
 - 2023/yellow_tripdata_2023-11.parquet (56094653 bytes)
 - 2023/yellow_tripdata_2023-12.parquet (56804275 bytes)
 - 2024/yellow_tripdata_2024-01.parquet (49961641 bytes)
 - 2024/yellow_tripdata_2024-02.parquet (50349284 bytes)
 - 2024/yellow_tripdata_2024-03.parquet (60078280 bytes)
 - 2024/yellow_tripdata_2024-04.parquet (59133625 bytes)
 - 2024/yellow_tripdata_2024-05.parquet (62553128 bytes)
 - 2024/yellow_tripdata_2024-06.parquet (59859922 bytes)
 - 2024/yellow_tripdata_2024-07.parquet (52299432 bytes)
 - 2024/yellow_tripdata_2024-08.parquet (51067350 bytes)
 - 2024/yellow_tripdata_2024-09.parquet (61170186 bytes)
 - 2024/yellow_tripdata_2024-10.parquet (64346071 bytes)
 - 2024/yellow_tripdata_2024-11.parquet (60658709 bytes)
 - 2024/yellow_tripdata_2024-12.parquet (61524085 bytes)
 - 2025/yellow_tripdata_2025-01.parquet (59158238 bytes)
 - 2025/yellow_tripdata_2025-02.parquet (60343086 bytes)
 - 2025/yellow_tripdata_2025-03.parquet (69964745 bytes)
 - 2025/yellow_tripdata_2025-04.parquet (67352824 bytes)
 - 2025/yellow_tripdata_2025-05.parquet (77837865 bytes)
 - 2025/yellow_tripdata_2025-06.parquet (73542954 bytes)
 - 2025/yellow_tripdata_2025-07.parquet (66943728 bytes)
 - 2025/yellow_tripdata_2025-08.parquet (62293743 bytes)
 - clean/_SUCCESS (0 bytes)
 - clean/part-00000-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (2164 bytes)
 - clean/part-00002-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (60041533 bytes)
 - clean/part-00006-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (67521098 bytes)
 - clean/part-00007-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (68648803 bytes)
 - clean/part-00008-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (63723862 bytes)
 - clean/part-00009-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (66317963 bytes)
 - clean/part-00010-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (63964466 bytes)
 - clean/part-00011-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (64265055 bytes)
 - clean/part-00012-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (64152092 bytes)
 - clean/part-00013-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (113624188 bytes)
 - clean/part-00014-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (112684034 bytes)
 - clean/part-00015-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (68853645 bytes)
 - clean/part-00016-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (66400906 bytes)
 - clean/part-00017-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (66525666 bytes)
 - clean/part-00018-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (63293821 bytes)
 - clean/part-00019-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (64839937 bytes)
 - clean/part-00020-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (62997037 bytes)
 - clean/part-00021-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (126311844 bytes)
 - clean/part-00022-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (112121706 bytes)
 - clean/part-00023-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (113597802 bytes)
 - clean/part-00024-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (68545590 bytes)
 - clean/part-00025-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (62982710 bytes)
 - clean/part-00026-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (64745415 bytes)
 - clean/part-00027-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (64624200 bytes)
 - clean/part-00028-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (57843368 bytes)
 - clean/part-00029-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (54526715 bytes)
 - clean/part-00030-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (55321449 bytes)
 - clean/part-00031-27daff98-2bb6-4983-a04f-d30dfcd67206-c000.snappy.parquet (58899602 bytes)
 - taxi_zone_lookup.csv (12331 bytes)
 - yellow_tripdata_2023-01.parquet (47673370 bytes)
============================================================
NYC Taxi Parquet Upload Complete
============================================================

In [3]:
from pyspark.sql.functions import col

# Month 1 (January) has a different schema than the other files. Therefore, some of its columns' data types have been changed.
# Also, the Airport_fee column name was different, so it has been changed as well.

# Read January separately and cast to match the standard schema
df_jan = spark.read.parquet("s3a://nyc-taxi/2023/yellow_tripdata_2023-01.parquet")

df_jan = df_jan \
    .withColumn("VendorID", col("VendorID").cast("integer")) \
    .withColumn("passenger_count", col("passenger_count").cast("long")) \
    .withColumn("RatecodeID", col("RatecodeID").cast("long")) \
    .withColumn("PULocationID", col("PULocationID").cast("integer")) \
    .withColumn("DOLocationID", col("DOLocationID").cast("integer")) \
    .withColumnRenamed("airport_fee", "Airport_fee")

# Read the rest (Feb-Dec)
df_rest = spark.read.parquet(
    "s3a://nyc-taxi/2023/yellow_tripdata_2023-0[2-9].parquet",
    "s3a://nyc-taxi/2023/yellow_tripdata_2023-1[0-2].parquet"
)

# Union them together
df1 = df_jan.union(df_rest)

In [4]:
# Combining parquet files from all the folders to create a single dataframe.

from pyspark.sql.functions import lit

df2 = spark.read.parquet("s3a://nyc-taxi/2024/*.parquet")
df_1_2 = df1.union(df2)

# Newer congestion charge (column name - cbd_congestion_fee) was introduced in 2025's datasets. 
# So, to union it with previous years' dataframes, we created the same column in previous years' dataframes.

df_1_2 = df_1_2.withColumn('cbd_congestion_fee', lit(0.0))
df3 = spark.read.parquet("s3a://nyc-taxi/2025/*.parquet")
df = df_1_2.union(df3)
df.count()

111036384

# EDA

In [5]:
# df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|         111036384|          98292206|         111036384|          98292206|          98292206|         111036384|         111036384|         111036384|         111036384|         111036384|         111036384|         111036384|         111036384|            111036384|         111036384|            98292206|           98292206|          111036384|
|   mean| 1.779818388178059|1.3396279151573829| 5.214452777029267|2.1527822562045253|              NULL|163.75644810263273|162.92477480174426| 1.089575521479518| 18.99297819054746|1.3899865388267698|0.4809835797606663|3.2427782145723034|0.5502064008115004|   0.9656460993902253|27.648775746559714|  2.2340973786873803|0.14372937616233783|0.14992108802822685|
| stddev|0.5047838881836906|0.8290970363336183|448.89054479402216|10.169716743508197|              NULL| 64.73999022390869| 69.91804941016349|0.6597164987702958|110.04539048856851| 2.068683787589345|0.5134675790149831| 4.070822725292373|2.1884075662430966|   0.2467937180970799|110.96015116783862|  0.8672983864316226|  0.495219730126582| 0.3057420898373081|
|    min|                 1|                 0|               0.0|                 1|                 N|                 1|                 1|                 0|           -2261.2|            -39.17|            -21.74|            -411.0|           -148.17|                 -1.0|          -2265.45|                -2.5|              -1.75|              -0.75|
|    max|                 7|                 9|         398608.62|                99|                 Y|               265|               265|                 5|         863372.12|           10002.5|           5243.38|            4174.0|           1702.88|                  2.0|         863380.37|                2.75|               6.75|                1.5|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

We can see three problems with the data through the summary statistics - 
1. Many rows don't contain any value in the passenger count column.
2. The min values of fees and amount-related columns are negative.
3. The max values for the trip_distance and fare_amount columns are too high.
4. Zero trip_distance and fare_amount values.

### Going through the rows with null values in the passenger count column.

In [6]:
from pyspark.sql.functions import col

df_null_passenger = df.filter(col("passenger_count").isNull())
df_null_passenger.describe().show()

+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+--------------------+-----------+-------------------+
|summary|          VendorID|passenger_count|     trip_distance|RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|payment_type|       fare_amount|              extra|             mta_tax|        tip_amount|       tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|Airport_fee| cbd_congestion_fee|
+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+--------------------+-----------+-------------------+
|  count|          12744178|              0|          12744178|         0|                 0|          12744178|          12744178|    12744178|          12744178|           12744178|            12744178|          12744178|           12744178|             12744178|          12744178|                   0|          0|           12744178|
|   mean|1.8183955057752645|           NULL|18.104066369756005|      NULL|              NULL|153.52263818035183|152.18376893354753|         0.0| 18.14712822278645| 0.0528399517018673|  0.4986647785365207|0.7122143962521654|0.30725516624146204|   0.9980321681006126|23.541019000205843|                NULL|       NULL| 0.2991627431757466|
| stddev|0.4229639844417198|           NULL|1307.9805096093853|      NULL|              NULL| 73.37755328851743| 72.42516349369505|         0.0|14.352530194903794|0.43478191070867833|0.042549567876828384| 2.151887313121556| 1.5720778040341956|  0.04069376086368137|15.288492250200173|                NULL|       NULL|0.36727431814332684|
|    min|                 1|           NULL|               0.0|      NULL|              NULL|                 1|                 1|           0|           -432.51|             -39.17|              -21.74|            -14.83|              -6.94|                 -1.0|           -427.76|                NULL|       NULL|              -0.75|
|    max|                 6|           NULL|         398608.62|      NULL|              NULL|               265|               265|           0|            9792.0|               20.8|               42.17|            604.09|               90.0|                  2.0|            9792.0|                NULL|       NULL|                1.5|
+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+-------------------+--------------------+------------------+-------------------+---------------------+------------------+--------------------+-----------+-------------------+

In [7]:
df_null_passenger.groupBy("VendorID").count().show()

+--------+--------+
|VendorID|   count|
+--------+--------+
|       1| 2391564|
|       2|10333323|
|       6|   19291|
+--------+--------+

In [8]:
df_null_passenger.groupBy("PULocationID").count().show()

+------------+------+
|PULocationID| count|
+------------+------+
|         148|246081|
|         243| 30060|
|          31|   923|
|         137|180374|
|          85| 13129|
|          65| 43493|
|         255| 84605|
|          53|  2760|
|         133|  8166|
|          78|  6104|
|         155|  6324|
|         108|  2026|
|         211|137590|
|         193| 15606|
|          34|  6386|
|         101|  2033|
|         126|  5921|
|          81|  3948|
|          28|  9754|
|         210|  4470|
+------------+------+
only showing top 20 rows

In [9]:
df_null_passenger.groupBy("DOLocationID").count().show()

+------------+------+
|DOLocationID| count|
+------------+------+
|         148|236461|
|         243| 85820|
|          31|  1774|
|         137|179076|
|          85| 13306|
|          65| 22668|
|         255| 41330|
|          53|  6211|
|         133|  7503|
|          78|  7578|
|         155|  7884|
|         108|  3590|
|         211|125434|
|         193| 11754|
|          34|  4322|
|         126|  6356|
|         101|  2569|
|          81|  4304|
|          28|  9795|
|         210|  6891|
+------------+------+
only showing top 20 rows

This shows there is not a pattern with null values for a specific vendor or location. Therefore we can go ahead with removing these rows with null values.

In [10]:
spark.sparkContext.getConf().getAll()

[('spark.app.id', 'local-1769499217256'),
 ('spark.driver.port', '35935'),
 ('spark.app.initial.jar.urls',
  'spark://a53c85d233d3:35935/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar,spark://a53c85d233d3:35935/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,spark://a53c85d233d3:35935/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.jars',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar'),
 ('spark.files',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'nyc-taxi-parquet'),
 ('spark.submit.pyFiles',
  '/home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar,/home/jovyan/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,/home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar'),
 ('spark.app.startTime', '1769499216200'),
 ('spark.master', 'local[*]'),
 ('spark.driver.host', 'a53c85d233d3'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.initial.file.urls',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.sql.warehouse.dir',
  'file:/home/jovyan/work/Notebooks/spark-warehouse'),
 ('spark.repl.local.jars',
  'file:///home/jovyan/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.4.jar,file:///home/jovyan/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.12.367.jar,file:///home/jovyan/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.submitTime', '1769499215991'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')]

In [11]:
df = df.dropna()
# df.count()

98292206

### For tipping prediction/analysis, negative amounts are not normal “real trips”, so we are going to exclude them

In [12]:
df = df.filter(
    (col("fare_amount") >= 0) &
    (col("trip_distance") >= 0) &
    (col("total_amount") >= 0) &
    (col("tip_amount") >= 0) &
    (col("extra") >= 0) &
    (col("mta_tax") >= 0) &
    (col("tolls_amount") >= 0) &
    (col("improvement_surcharge") >= 0) &
    (col("congestion_surcharge") >= 0) &
    (col("Airport_fee") >= 0) &
    (col("cbd_congestion_fee") >= 0)
)

# df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|     DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|       Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+------------------+-------------------+
|  count|          96746457|          96746457|          96746457|          96746457|          96746457|          96746457|         96746457|          96746457|          96746457|          96746457|          96746457|          96746457|          96746457|             96746457|          96746457|            96746457|          96746457|           96746457|
|   mean|1.7712189088226766|1.3388066603824056|3.5408033883863057| 2.167424425682069|              NULL|165.18371212291527|164.4220936793582|1.1966254433482768|19.766202679439626|1.6047437001233036| 0.493995547041066|3.6268938295084068|0.6018175716738141|   0.9927617711106346| 29.07961371541203|  2.3019254546964962|0.1507333565713936|0.13534419405146794|
| stddev|0.5175253522975267|0.8297706345321826| 76.14819849332184|10.248041184853008|              NULL| 63.44201795059552| 69.4533580529888|0.4867373972983249|117.60034492966378| 2.115910422637019|0.5359542108783109| 4.147480177466032|2.2400956816492545|  0.08453790437683711|118.45334225237808|  0.6752422203512218|0.4891418524949651| 0.2884269439480592|
|    min|                 1|                 0|               0.0|                 1|                 N|                 1|                1|                 1|               0.0|               0.0|               0.0|               0.0|               0.0|                  0.0|               0.0|                 0.0|               0.0|                0.0|
|    max|                 7|                 9|          161726.1|                99|                 Y|               265|              265|                 5|         863372.12|           10002.5|           5243.38|            4174.0|           1702.88|                  1.0|         863380.37|                2.75|              6.75|               1.25|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+------------------+-------------------+

### Now, we will do the outlier analysis for trip distance

In [13]:
df.select("trip_distance").describe().show()

+-------+------------------+
|summary|     trip_distance|
+-------+------------------+
|  count|          96746457|
|   mean|3.5408033883863057|
| stddev| 76.14819849332184|
|    min|               0.0|
|    max|          161726.1|
+-------+------------------+

In [14]:
q1, median, q3 = df.approxQuantile("trip_distance", [0.25, 0.5, 0.75], 0.01)

iqr = q3 - q1
lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

print("Q1:", q1)
print("Median:", median)
print("Q3:", q3)
print("IQR:", iqr)
print("Lower Bound:", lower)
print("Upper Bound:", upper)

Q1: 1.02
Median: 1.72
Q3: 3.28
IQR: 2.26
Lower Bound: -2.3699999999999997
Upper Bound: 6.67

In [15]:
from pyspark.sql.functions import col

outliers_df = df.filter((col("trip_distance") < lower) | (col("trip_distance") > upper))
normal_df   = df.filter((col("trip_distance") >= lower) & (col("trip_distance") <= upper))

print("Normal Rows:", normal_df.count())
print("Outlier Rows:", outliers_df.count())

Normal Rows: 83708873
Outlier Rows: 13037584

The IQR method won't be applicable here since the outlier rows are in millions. So, we will take 100 as the outlier distance.

In [16]:
long_distance_df = df.filter(col("trip_distance") > 100)

print("Long Distance Rows:", long_distance_df.count())

Long Distance Rows: 2012

In [17]:
total_rows = df.count()
long_distance_rows = long_distance_df.count()

print("Long Distance Rows %:", (long_distance_rows / total_rows) * 100)

Long Distance Rows %: 0.0020796627208787607

100 seems like a good value to take as an outlier. Therefore, we will filter out the rows that contain a trip distance greater than 100.

In [18]:
df = df.filter((col("trip_distance") <= 100))

print("Rows after trimming:", df.count())

Rows after trimming: 96744445

In [19]:
# df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|           96744445|          96744445|          96744445|             96744445|          96744445|            96744445|           96744445|           96744445|
|   mean|1.7712138820993806|1.3388062125944284|3.4018461836228915|2.1670226026931054|              NULL|165.18416724598504|164.42123926598578|1.1966183174651526|19.759926332821397|1.6047605719377491|0.49399987906282344|3.6268206665519696|0.6016542692429021|    0.992764638837908|29.073141214203268|  2.3019617252442766|0.15072272314963406|0.13534603976486712|
| stddev|0.5174947695057209|0.8297708127498264| 4.530833098326924|10.246342328666243|              NULL| 63.44193385752782| 69.45287938629359|0.4867273158328661| 117.4898745365231|2.1159157615800233| 0.5359577438257294| 4.146085127516137| 2.238996189579291|  0.08452118220074861|118.34265951002831|  0.6751857129615031| 0.4891231500591283|0.28842847755351786|
|    min|                 1|                 0|               0.0|                 1|                 N|                 1|                 1|                 1|               0.0|               0.0|                0.0|               0.0|               0.0|                  0.0|               0.0|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|             99.92|                99|                 Y|               265|               265|                 5|         863372.12|           10002.5|            5243.38|            4174.0|           1702.88|                  1.0|         863380.37|                2.75|               6.75|               1.25|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

We can still see very high total amount values. Next, we will filter for that (i.e., amount greater than 500).

In [20]:
high_cost_df = df.filter(col("total_amount") > 500)
print("High Cost Rows:", high_cost_df.count())

High Cost Rows: 1761

In [21]:
total_rows = df.count()
high_cost_df = high_cost_df.count()

print("High Cost Rows %:", (high_cost_df / total_rows) * 100)

High Cost Rows %: 0.0018202595508196879

In [22]:
df = df.filter((col("total_amount") <= 500))

print("Rows after trimming:", df.count())

Rows after trimming: 96742684

In [23]:
# df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          96742684|          96742684|          96742684|          96742684|          96742684|          96742684|          96742684|          96742684|          96742684|          96742684|           96742684|          96742684|          96742684|             96742684|          96742684|            96742684|           96742684|           96742684|
|   mean|1.7712127358385055|1.3388034696246385|3.4012530560963654|2.1669611626652823|              NULL|165.18422644755236|164.42033758335668|1.1965985665644754|19.720254366104783|1.6046691216464501|0.49395169375288345|3.6264709431681736|0.6015046561018007|   0.9927647448772339| 29.03285050727685|  2.3019968829891053|0.15071455894277236|0.13534756540349863|
| stddev|0.5174942804504608| 0.829766505253181| 4.525404140219154|10.246331013412089|              NULL|63.441845814797695| 69.45244793185059|0.4866918655646266| 18.46609766596351|1.8555777503961368|0.05560052330191533| 4.109385864126396|2.2262158747346166|  0.08452055976234674|23.143653724936076|  0.6751309328807672|0.48911087505182266| 0.2884297451934098|
|    min|                 1|                 0|               0.0|                 1|                 N|                 1|                 1|                 1|               0.0|               0.0|                0.0|               0.0|               0.0|                  0.0|               0.0|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|             99.92|                99|                 Y|               265|               265|                 5|             500.0|             133.6|              53.16|             494.0|             355.0|                  1.0|             500.0|                2.75|               6.75|               1.25|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

### Check for zero distance and zero fare rows.

In [24]:
zero_distance_df = df.filter(col("trip_distance") == 0)
print("Zero Distance Rows:", zero_distance_df.count())

Zero Distance Rows: 1179794

In [25]:
zero_fare_df = df.filter(col("fare_amount") == 0)
print("Zero Fare Rows:", zero_fare_df.count())

Zero Fare Rows: 30019

In [26]:
zero_distance_df.select("fare_amount", "total_amount", "tip_amount", "payment_type") \
  .describe() \
  .show()

+-------+------------------+------------------+------------------+------------------+
|summary|       fare_amount|      total_amount|        tip_amount|      payment_type|
+-------+------------------+------------------+------------------+------------------+
|  count|           1179794|           1179794|           1179794|           1179794|
|   mean|30.403765801486372| 37.93141550134824|3.4549349208421436|  1.67966950162486|
| stddev|39.066209802768626|42.907683461773814| 7.665664297335321|0.9476936000172402|
|    min|               0.0|               0.0|               0.0|                 1|
|    max|             500.0|             500.0|             494.0|                 5|
+-------+------------------+------------------+------------------+------------------+

In [27]:
zero_fare_df.select("trip_distance", "fare_amount", "total_amount", "tip_amount", "payment_type") \
  .describe() \
  .show()

+-------+------------------+-----------+-----------------+------------------+------------------+
|summary|     trip_distance|fare_amount|     total_amount|        tip_amount|      payment_type|
+-------+------------------+-----------+-----------------+------------------+------------------+
|  count|             30019|      30019|            30019|             30019|             30019|
|   mean|1.9949012292214916|        0.0|2.604796295679404|0.7418185149405377|2.5519171191578667|
| stddev|  5.50628341973777|        0.0|9.404846416926187| 8.269101898021075|1.0091499106679318|
|    min|               0.0|        0.0|              0.0|               0.0|                 1|
|    max|              93.5|        0.0|           286.43|             270.0|                 5|
+-------+------------------+-----------+-----------------+------------------+------------------+

Because trip_distance and fare_amount are important features, and 0-distance or 0-fare-amount rows can confuse our analysis. We will filter them out.

In [28]:
df = df.filter((col("trip_distance") > 0) & (col("fare_amount") > 0))
# df.count()

95547339

In [29]:
# df.describe().show()

+-------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|    trip_distance|       RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|      fare_amount|            extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          95547339|          95547339|         95547339|         95547339|          95547339|          95547339|          95547339|          95547339|         95547339|         95547339|           95547339|          95547339|          95547339|             95547339|          95547339|            95547339|           95547339|           95547339|
|   mean|1.7726523079831664|1.3388371391483755| 3.44317767625078|2.098386873966213|              NULL|165.25613480454962|164.44266859174382| 1.190391916618421|19.59154672083198|1.613030528563439|0.49577821345710094|3.6289836271642124|0.6011436576981911|   0.9930175941372777|28.927099735292575|  2.3150271670046196| 0.1504543752913935|0.13598443594541132|
| stddev|0.5165355196363483|0.8291636710160207|4.536793018300721|9.990998706002197|              NULL|63.361602379160296|   69.425773189667|0.4746728358401705|18.02578374694443|1.856942898936231|0.04659368397713526| 4.043849708446891|2.2165910344896753|   0.0830364959501765|22.770147088383627|   0.654382483500076|0.48873980903061315|0.28895772624175353|
|    min|                 1|                 0|             0.01|                1|                 N|                 1|                 1|                 1|             0.01|              0.0|                0.0|               0.0|               0.0|                  0.0|              0.01|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|            99.92|               99|                 Y|               265|               265|                 5|            499.0|            96.38|              53.16|             482.9|            204.18|                  1.0|             500.0|                2.75|               6.75|               1.25|
+-------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

### The dataset is clean and ready to be used for modelling.

In [30]:
from pyspark.sql.functions import (
    hour, dayofweek, month, when, sqrt, 
    unix_timestamp, cos, sin, radians, concat
)

df_tips1 = df.select("tip_amount", "fare_amount", "trip_distance", "payment_type", "PULocationID", "DOLocationID", "tpep_pickup_datetime", "tpep_dropoff_datetime")

df_tips1 = df_tips1.withColumn("pickup_hour", hour("tpep_pickup_datetime")) \
       .withColumn("pickup_day", dayofweek("tpep_pickup_datetime")) \
       .withColumn("pickup_month", month("tpep_pickup_datetime")) \
       .withColumn("is_weekend", when(col("pickup_day").isin([1, 7]), 1).otherwise(0)) \
       .withColumn("is_rush_hour", when(
           ((col("pickup_hour") >= 6) & (col("pickup_hour") <= 10)) | 
           ((col("pickup_hour") >= 16) & (col("pickup_hour") <= 20)), 1
       ).otherwise(0)) \
       .withColumn("is_night", when(
           ((col("pickup_hour") >= 20) | (col("pickup_hour") <= 6)), 1
       ).otherwise(0)) \
       .withColumn("tip_percent", (col("tip_amount") / col("fare_amount")) * 100) \
       .withColumn("PU_DO_pair", concat(col("PULocationID").cast("string"), lit("_"), col("DOLocationID").cast("string")))

In [31]:
df_tips1 = df_tips1.filter(col("payment_type") == 1)

In [34]:
clean_path = "s3a://nyc-taxi/clean/"

df_tips1.write \
    .mode("overwrite") \
    .parquet(clean_path)