In [1]:
import logging
import sys
import os

# Create logger
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

# Clear any existing handlers to avoid duplicates
if logger.handlers:
    logger.handlers.clear()

# File handler - logs to file
log_path = os.path.join(os.path.dirname(os.getcwd()), 'logs', 'eda.log')
file_handler = logging.FileHandler(log_path, mode='a')
file_handler.setLevel(logging.INFO)
file_formatter = logging.Formatter(
    '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
)
file_handler.setFormatter(file_formatter)
logger.addHandler(file_handler)

# Console handler - minimal output to cell (optional)
console_handler = logging.StreamHandler(sys.stdout)
console_handler.setLevel(logging.WARNING)  # Only show warnings/errors in notebook
console_formatter = logging.Formatter('%(levelname)s: %(message)s')
console_handler.setFormatter(console_formatter)
logger.addHandler(console_handler)

# Helper function for flushing
def log_and_flush(message, level='info'):
    if level == 'info':
        logger.info(message)
    elif level == 'warning':
        logger.warning(message)
    elif level == 'error':
        logger.error(message)
    
    for handler in logger.handlers:
        handler.flush()

print("✓ Logger configured - logs will be written to logs/eda.log")

✓ Logger configured - logs will be written to logs/eda.log

In [2]:
from pyspark.sql import SparkSession
import importlib.util
import os

# ========== LOAD CONFIG FIRST ==========
src_path = os.path.join(os.path.dirname(os.getcwd()), 'src')
config_file = os.path.join(src_path, 'config.py')

spec = importlib.util.spec_from_file_location("config", config_file)
config_module = importlib.util.module_from_spec(spec)
spec.loader.exec_module(config_module)

Config = config_module.Config
print("✓ Config loaded")

# ========== HELPER FUNCTION ==========
def log_and_flush(message):
    logger.info(message)
    for handler in logger.handlers:
        handler.flush()

# ========== STOP EXISTING SPARK ==========
try:
    spark.stop()
    log_and_flush("Stopped existing Spark session")
except:
    log_and_flush("No existing Spark session to stop")

# ========== CREATE SPARK SESSION ==========
log_and_flush(f"Creating Spark session: {Config.APP_NAME}")

spark = SparkSession.builder \
    .appName(Config.APP_NAME) \
    .config("spark.driver.memory", Config.SPARK_DRIVER_MEMORY) \
    .config("spark.executor.memory", Config.SPARK_EXECUTOR_MEMORY) \
    .config("spark.executor.instances", Config.SPARK_EXECUTOR_INSTANCES) \
    .config("spark.executor.cores", Config.SPARK_EXECUTOR_CORES) \
    .config("spark.sql.execution.arrow.pyspark.enabled", "true") \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262") \
    .getOrCreate()

log_and_flush(f"Spark session created successfully (version {spark.version})")

# ========== CONFIGURE HADOOP FOR MINIO ==========
log_and_flush("Configuring Hadoop for MinIO")

hadoop_conf = spark._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3a.endpoint", Config.MINIO_ENDPOINT)
hadoop_conf.set("fs.s3a.access.key", Config.MINIO_ACCESS_KEY)
hadoop_conf.set("fs.s3a.secret.key", Config.MINIO_SECRET_KEY)
hadoop_conf.set("fs.s3a.path.style.access", "true")
hadoop_conf.set("fs.s3a.connection.ssl.enabled", "false")
hadoop_conf.set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")

log_and_flush(f"Spark configured for environment: {Config.ENVIRONMENT}")
log_and_flush(f"Using MinIO endpoint: {Config.MINIO_ENDPOINT}")
log_and_flush(f"Reading from bucket: {Config.S3_BUCKET_NAME}")

print("\n" + "="*50)
print("✓ Spark Session Ready")
print("="*50)

# Display configuration (on its own line!)
Config.display_config()

✓ Config loaded

==================================================
✓ Spark Session Ready
==================================================
==================================================
Current Configuration:
==================================================
App Name: NYC Taxi EDA
Environment: development
MinIO Endpoint: http://minio:9000
S3 Bucket: nyc-taxi
Spark Driver Memory: 3g
Spark Executor Memory: 3g
Spark Executor Instances: 3
Spark Executor Cores: 2
Log Level: INFO
Log File: eda.log
==================================================

# EDA

In [3]:
logger.info("Starting data load from S3")
df = spark.read.parquet("s3a://nyc-taxi/Initial_DF/")
logger.info(f"Data loaded successfully. Total rows: {df.count()}")

In [4]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|       tip_amount|     tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|         111036384|          98292206|         111036384|          98292206|          98292206|         111036384|         111036384|         111036384|         111036384|         111036384|         111036384|        111036384|        111036384|            111036384|         111036384|            98292206|           98292206|          111036384|
|   mean| 1.779818388178059|1.3396279151573829| 5.214452777029157|2.1527822562045253|              NULL|163.75644810263273|162.92477480174426| 1.089575521479518|18.992978190547788|1.3899865388267696|0.4809835797606664|3.242778214572166|0.550206400811229|   0.9656460993902228|27.648775746564034|  2.2340973786873803|0.14372937616233783|0.14992108802822685|
| stddev|0.5047838881836891|0.8290970363336245|448.89054479402046|10.169716743508259|              NULL| 64.73999022390873| 69.91804941016387|0.6597164987703017|110.04539048856779| 2.068683787589313|0.5134675790149832|4.070822725292359|2.188407566243082|  0.24679371809708045| 110.9601511678381|  0.8672983864316262|0.49521973012658776| 0.3057420898373063|
|    min|                 1|                 0|               0.0|                 1|                 N|                 1|                 1|                 0|           -2261.2|            -39.17|            -21.74|           -411.0|          -148.17|                 -1.0|          -2265.45|                -2.5|              -1.75|              -0.75|
|    max|                 7|                 9|         398608.62|                99|                 Y|               265|               265|                 5|         863372.12|           10002.5|           5243.38|           4174.0|          1702.88|                  2.0|         863380.37|                2.75|               6.75|                1.5|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+---------------------+------------------+--------------------+-------------------+-------------------+

We can see three problems with the data through the summary statistics - 
1. Many rows don't contain any value in the passenger count column.
2. The min values of fees and amount-related columns are negative.
3. The max values for the trip_distance and fare_amount columns are too high.
4. Zero trip_distance and fare_amount values.

### Going through the rows with null values in the passenger count column.

In [32]:
from pyspark.sql.functions import col

df_null_passenger = df.filter(col("passenger_count").isNull())
df_null_passenger.describe().show()

+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-----------+------------------+
|summary|          VendorID|passenger_count|     trip_distance|RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-----------+------------------+
|  count|          12744178|              0|          12744178|         0|                 0|          12744178|          12744178|    12744178|          12744178|          12744178|          12744178|          12744178|          12744178|             12744178|          12744178|                   0|          0|          12744178|
|   mean|1.8183955057752645|           NULL|18.104066369755767|      NULL|              NULL|153.52263818035183|152.18376893354753|         0.0|18.147128222786353|0.0528399517018673|0.4986647785365207|0.7122143962521579|0.3072551662414562|    0.998032168100613|23.541019000206212|                NULL|       NULL|0.2991627431757466|
| stddev|0.4229639844417209|           NULL|1307.9805096093833|      NULL|              NULL|  73.3775532885175| 72.42516349369508|         0.0|14.352530194903798|0.4347819107086783|0.0425495678768284|2.1518873131215543| 1.572077804034196|  0.04069376086368132|15.288492250200193|                NULL|       NULL|0.3672743181433266|
|    min|                 1|           NULL|               0.0|      NULL|              NULL|                 1|                 1|           0|           -432.51|            -39.17|            -21.74|            -14.83|             -6.94|                 -1.0|           -427.76|                NULL|       NULL|             -0.75|
|    max|                 6|           NULL|         398608.62|      NULL|              NULL|               265|               265|           0|            9792.0|              20.8|             42.17|            604.09|              90.0|                  2.0|            9792.0|                NULL|       NULL|               1.5|
+-------+------------------+---------------+------------------+----------+------------------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-----------+------------------+

In [33]:
df_null_passenger.groupBy("VendorID").count().show()

+--------+--------+
|VendorID|   count|
+--------+--------+
|       1| 2391564|
|       2|10333323|
|       6|   19291|
+--------+--------+

In [34]:
df_null_passenger.groupBy("PULocationID").count().show()

+------------+------+
|PULocationID| count|
+------------+------+
|         148|246081|
|         243| 30060|
|          31|   923|
|         137|180374|
|          85| 13129|
|          65| 43493|
|         255| 84605|
|          53|  2760|
|         133|  8166|
|          78|  6104|
|         155|  6324|
|         108|  2026|
|         211|137590|
|         193| 15606|
|          34|  6386|
|         101|  2033|
|         126|  5921|
|          81|  3948|
|          28|  9754|
|         210|  4470|
+------------+------+
only showing top 20 rows

In [35]:
df_null_passenger.groupBy("DOLocationID").count().show()

+------------+------+
|DOLocationID| count|
+------------+------+
|         148|236461|
|         243| 85820|
|          31|  1774|
|         137|179076|
|          85| 13306|
|          65| 22668|
|         255| 41330|
|          53|  6211|
|         133|  7503|
|          78|  7578|
|         155|  7884|
|         108|  3590|
|         211|125434|
|         193| 11754|
|          34|  4322|
|         126|  6356|
|         101|  2569|
|          81|  4304|
|          28|  9795|
|         210|  6891|
+------------+------+
only showing top 20 rows

This shows there is not a pattern with null values for a specific vendor or location. Therefore we can go ahead with removing these rows with null values.

In [5]:
df = df.dropna()
df.count()

98292206

### For tipping prediction/analysis, negative amounts are not normal “real trips”, so we are going to exclude them

In [8]:
from pyspark.sql.functions import col

df = df.filter(
    (col("fare_amount") >= 0) &
    (col("trip_distance") >= 0) &
    (col("total_amount") >= 0) &
    (col("tip_amount") >= 0) &
    (col("extra") >= 0) &
    (col("mta_tax") >= 0) &
    (col("tolls_amount") >= 0) &
    (col("improvement_surcharge") >= 0) &
    (col("congestion_surcharge") >= 0) &
    (col("Airport_fee") >= 0) &
    (col("cbd_congestion_fee") >= 0)
)

# df.describe().show()

### Now, we will do the outlier analysis for trip distance

In [60]:
df.select("trip_distance").describe().show()

+-------+------------------+
|summary|     trip_distance|
+-------+------------------+
|  count|          96746457|
|   mean|3.5408033883862964|
| stddev| 76.14819849332225|
|    min|               0.0|
|    max|          161726.1|
+-------+------------------+

In [61]:
q1, median, q3 = df.approxQuantile("trip_distance", [0.25, 0.5, 0.75], 0.01)

iqr = q3 - q1
lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

print("Q1:", q1)
print("Median:", median)
print("Q3:", q3)
print("IQR:", iqr)
print("Lower Bound:", lower)
print("Upper Bound:", upper)

Q1: 1.02
Median: 1.72
Q3: 3.28
IQR: 2.26
Lower Bound: -2.3699999999999997
Upper Bound: 6.67

In [62]:
from pyspark.sql.functions import col

outliers_df = df.filter((col("trip_distance") < lower) | (col("trip_distance") > upper))
normal_df   = df.filter((col("trip_distance") >= lower) & (col("trip_distance") <= upper))

print("Normal Rows:", normal_df.count())
print("Outlier Rows:", outliers_df.count())

Normal Rows: 83708873
Outlier Rows: 13037584

The IQR method won't be applicable here since the outlier rows are in millions. So, we will take 100 as the outlier distance.

In [66]:
long_distance_df = df.filter(col("trip_distance") > 100)

print("Long Distance Rows:", long_distance_df.count())

High Distance Rows: 2012

In [67]:
total_rows = df.count()
long_distance_rows = long_distance_df.count()

print("Long Distance Rows %:", (long_distance_rows / total_rows) * 100)

High Distance Rows %: 0.0020796627208787607

100 seems like a good value to take as an outlier. Therefore, we will filter out the rows that contain a trip distance greater than 100.

In [9]:
df = df.filter((col("trip_distance") <= 100))

print("Rows after trimming:", df.count())

Rows after trimming: 96744445

In [70]:
df.describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          96744445|          96744445|         96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|          96744445|             96744445|          96744445|            96744445|           96744445|           96744445|
|   mean|1.7712138820993806|1.3388062125944284|3.401846183622932|2.1670226026931054|              NULL|165.18416724598504|164.42123926598578|1.1966183174651526|  19.7599263328242|1.6047605719377493|0.4939998790628241|3.6268206665517515|0.6016542692433506|   0.9927646388379157|29.073141214221987|  2.3019617252442766|0.15072272314963406|0.13534603976486712|
| stddev|0.5174947695057205|0.8297708127498301|4.530833098326913|10.246342328666282|              NULL|63.441933857527545| 69.45287938629393|0.4867273158328689|117.48987453652325| 2.115915761580048|0.5359577438257294| 4.146085127516144| 2.238996189579292|  0.08452118220074892|118.34265951002821|  0.6751857129614992| 0.4891231500591269|0.28842847755351786|
|    min|                 1|                 0|              0.0|                 1|                 N|                 1|                 1|                 1|               0.0|               0.0|               0.0|               0.0|               0.0|                  0.0|               0.0|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|            99.92|                99|                 Y|               265|               265|                 5|         863372.12|           10002.5|           5243.38|            4174.0|           1702.88|                  1.0|         863380.37|                2.75|               6.75|               1.25|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

We can still see very high total amount values. Next, we will filter for that (i.e., amount greater than 500).

In [73]:
high_cost_df = df.filter(col("total_amount") > 500)
print("High Cost Rows:", high_cost_df.count())

High Cost Rows: 1761

In [74]:
total_rows = df.count()
high_cost_df = high_cost_df.count()

print("High Cost Rows %:", (high_cost_df / total_rows) * 100)

High Cost Rows %: 0.0018202595508196879

In [10]:
df = df.filter((col("total_amount") <= 500))

print("Rows after trimming:", df.count())

Rows after trimming: 96742684

In [76]:
df.describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|      fare_amount|             extra|             mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          96742684|          96742684|         96742684|          96742684|          96742684|          96742684|          96742684|          96742684|         96742684|          96742684|            96742684|          96742684|          96742684|             96742684|          96742684|            96742684|           96742684|           96742684|
|   mean|1.7712127358385055|1.3388034696246385|3.401253056096403|2.1669611626652823|              NULL|165.18422644755236|164.42033758335668|1.1965985665644754|19.72025436610757|1.6046691216464504| 0.49395169375288406|3.6264709431679547|0.6015046561022492|   0.9927647448772415| 29.03285050729562|  2.3019968829891053|0.15071455894277236|0.13534756540349863|
| stddev|0.5174942804504576|0.8297665052531803| 4.52540414021912|10.246331013412092|              NULL| 63.44184581479805| 69.45244793185093|0.4866918655646305|18.46609766596337| 1.855577750396131|0.055600523301915145| 4.109385864126395| 2.226215874734604|  0.08452055976234694|23.143653724936062|  0.6751309328807669| 0.4891108750518244| 0.2884297451934098|
|    min|                 1|                 0|              0.0|                 1|                 N|                 1|                 1|                 1|              0.0|               0.0|                 0.0|               0.0|               0.0|                  0.0|               0.0|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|            99.92|                99|                 Y|               265|               265|                 5|            500.0|             133.6|               53.16|             494.0|             355.0|                  1.0|             500.0|                2.75|               6.75|               1.25|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

### Check for zero distance and zero fare rows.

In [81]:
zero_distance_df = df.filter(col("trip_distance") == 0)
print("Zero Distance Rows:", zero_distance_df.count())

Zero Distance Rows: 1179794

In [82]:
zero_fare_df = df.filter(col("fare_amount") == 0)
print("Zero Fare Rows:", zero_fare_df.count())

Zero Fare Rows: 30019

In [86]:
zero_distance_df.select("fare_amount", "total_amount", "tip_amount", "payment_type") \
  .describe() \
  .show()

+-------+------------------+-----------------+-----------------+------------------+
|summary|       fare_amount|     total_amount|       tip_amount|      payment_type|
+-------+------------------+-----------------+-----------------+------------------+
|  count|           1179794|          1179794|          1179794|           1179794|
|   mean|30.403765801486582|37.93141550134817|3.454934920842125|  1.67966950162486|
| stddev| 39.06620980276862|42.90768346177385|7.665664297335325|0.9476936000172407|
|    min|               0.0|              0.0|              0.0|                 1|
|    max|             500.0|            500.0|            494.0|                 5|
+-------+------------------+-----------------+-----------------+------------------+

In [88]:
zero_fare_df.select("trip_distance", "fare_amount", "total_amount", "tip_amount", "payment_type") \
  .describe() \
  .show()

+-------+------------------+-----------+-----------------+------------------+------------------+
|summary|     trip_distance|fare_amount|     total_amount|        tip_amount|      payment_type|
+-------+------------------+-----------+-----------------+------------------+------------------+
|  count|             30019|      30019|            30019|             30019|             30019|
|   mean|1.9949012292214916|        0.0|2.604796295679404|0.7418185149405377|2.5519171191578667|
| stddev|  5.50628341973777|        0.0|9.404846416926187| 8.269101898021075|1.0091499106679318|
|    min|               0.0|        0.0|              0.0|               0.0|                 1|
|    max|              93.5|        0.0|           286.43|             270.0|                 5|
+-------+------------------+-----------+-----------------+------------------+------------------+

Because trip_distance and fare_amount are important features, and 0-distance or 0-fare-amount rows can confuse our analysis. We will filter them out.

In [11]:
df = df.filter((col("trip_distance") > 0) & (col("fare_amount") > 0))
df.count()

95547339

In [90]:
df.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|summary|          VendorID|   passenger_count|     trip_distance|       RatecodeID|store_and_fwd_flag|      PULocationID|      DOLocationID|      payment_type|       fare_amount|             extra|            mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee| cbd_congestion_fee|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+
|  count|          95547339|          95547339|          95547339|         95547339|          95547339|          95547339|          95547339|          95547339|          95547339|          95547339|           95547339|          95547339|          95547339|             95547339|          95547339|            95547339|           95547339|           95547339|
|   mean|1.7726523079831664|1.3388371391483755|3.4431776762508193|2.098386873966213|              NULL|165.25613480454962|164.44266859174382| 1.190391916618421|19.591546720834927|1.6130305285634392| 0.4957782134571015|3.6289836271639535|0.6011436576986284|   0.9930175941372852|28.927099735311728|  2.3150271670046196| 0.1504543752913935|0.13598443594541132|
| stddev|0.5165355196363476|0.8291636710160155| 4.536793018300736|9.990998706002145|              NULL|  63.3616023791602| 69.42577318966734|0.4746728358401683| 18.02578374694448|1.8569428989362369|0.04659368397713504| 4.043849708446904|  2.21659103448967|  0.08303649595017665|22.770147088383542|  0.6543824835000797|0.48873980903061487|0.28895772624175353|
|    min|                 1|                 0|              0.01|                1|                 N|                 1|                 1|                 1|              0.01|               0.0|                0.0|               0.0|               0.0|                  0.0|              0.01|                 0.0|                0.0|                0.0|
|    max|                 7|                 9|             99.92|               99|                 Y|               265|               265|                 5|             499.0|             96.38|              53.16|             482.9|            204.18|                  1.0|             500.0|                2.75|               6.75|               1.25|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+-------------------+

In [4]:
logger.info("Saving cleaned dataset to S3")
try:
    df.write \
      .mode("overwrite") \
      .parquet("s3a://nyc-taxi/Clean_DF")
    logger.info("✓ Cleaned dataset saved successfully to s3a://nyc-taxi/Clean_DF")
except Exception as e:
    logger.error(f"Failed to save cleaned dataset: {str(e)}")
    raise

### The dataset is clean and ready to be used for modelling.